
    <h1 class="title mt-5">Sobre Comics</h1>
    <hr>
    <p class="text">
        Superhero comics are one of the most common genres of American comic books. The genre rose to prominence in the 1930s and became extremely popular in the 1940s and has remained the dominant form of comic book in North America since the 1960s. Superhero comics feature stories about superheroes and the universes these characters inhabit.
        fter World War II superhero comic books gradually declined in popularity, their sales hindered in part by the publication of Seduction of the Innocent and the investigations of The Senate Subcommittee hearings on juvenile delinquency. By 1954 only three superheroes still had their own titles; Superman and Batman, who also costarred in World's Finest Comics, and Wonder Woman.
    </p>
    <div class="fondo">
    </div>

